body,
html {
  width: 100hw;
  overflow-x: hidden;
}
body,
body * {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
h1 {
  font-size: 70px;
}
p {
  font-size: 30px;
}
h1 {
  text-transform: uppercase;
}
h1,
p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -65%);
  color: white;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.8);
}
article {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}
article section {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  /* individual sections *************** */
}
article section > div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
article section > div.parallax__layer--base {
  transform: translateZ(0);
  z-index: 2;
}
article section > div.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
  background-size: cover;
  z-index: 1;
}
article section.headerContent .parallax__layer--back {
  background: url('../images/bg1.jpg') #cccccc top center;
  background-size: cover;
}
article section.static {
  z-index: 100;
}
article section.content1 .parallax__layer--back {
  background: white;
}
article section.content1 .parallax__layer--base {
  background: black;
}
article section.content2 .parallax__layer--back {
  background: url('../images/bg2.jpg') #ffff00 top center;
  background-size: cover;
}
article section.content3 .parallax__layer--base {
  background: black;
}
article section.content4 .parallax__layer--back {
  background: url('../images/bg3.jpg') #cccccc top center;
  background-size: cover;
}
article section.content5 .parallax__layer--base {
  background: black;
}

body > article > section > div > p > img{
	width: 965px;
	height: auto;
}
